header, footer {
    border: 5px solid red ;
    background-color: yellow;
}

main {
    background-color: aqua;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

img[alt] {
    font-style: italic;
}

h1 {
    color: orange;
}

h2 {
    color: green;
}

nav ul li a:hover{
    color: pink;
}

ul li {
    list-style-type: none;
}